.user{

}

.userPhoto{
    width: 100px;
}
.pagination{
    margin: 30px;
}
.pagination span{
    display: inline-block;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid;
    cursor: pointer
}

.currentPage{
    font-weight: bold;
}